    
## Database Properties
spring.data.mongodb.uri=mongodb://localhost:27017
spring.data.mongodb.database=cohabifydb

## Web
server.servlet.encoding.enabled=true
server.servlet.encoding.charset=UTF-8

## JWT
# Get value with this console command node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
token.secret.key=secret
# One day
token.expirationms=86400000

## Stored static files
static.files.host=http://localhost:8080

## Frontend URL
frontend.url=http://localhost:5173

## Email
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=cohabify.soporte@gmail.com
spring.mail.password=password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

## Logging
logging.level.org.springframework=INFO
#logging.level.org.springframework.security=TRACE
#logging.level.org.springframework.web.socket.config.WebSocketMessageBrokerStats = TRACE

## Debug
#debug=true

## Google
google.public.keys=googlePublicKey1,googlePublicKey2

## Stripe
stripe.secret.key=stripeKey